@import "tailwindcss";

@theme {
  /* Familias Tipográficas */
  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;

  /* Fondos dark estilo gaming/tecnológico */
  --color-eco-bg: #0b131f;
  --color-eco-card: #132235;
  --color-eco-card-hover: #1a2d45;
  --color-eco-border: #1e3653;
  /* Identidad y Éxito */
  --color-eco-green: #22c55e;
  --color-eco-green-hover: #16a34a;
  /* Gamificación: Calificación, Podio y Focus */
  --color-eco-star: #f59e0b;
  --color-eco-focus: #f97316;
  --color-eco-cyan: #38bdf8;
  /* Tipografía */
  --color-eco-text: #f8fafc;
  --color-eco-muted: #94a3b8;
  /* Categorización de botes físicos de Kinal */
  --color-bote-organico: #22c55e;
  --color-bote-inorganico: #64748b;
  --color-bote-reciclable: #38bdf8;
}

/* Aplicar la fuente por defecto al body */
body {
  font-family: var(--font-body);
  background-color: var(--color-eco-bg);
  color: var(--color-eco-text);
}

/* 
  1. Estilos para Firefox 
*/
* {
  scrollbar-width: thin; /* Hace la barra más delgada y elegante */
  scrollbar-color: var(--color-eco-border) var(--color-eco-bg);
}

/* 
  2. Estilos para navegadores basados en WebKit (Chrome, Edge, Safari, Opera) 
*/

/* Ancho y alto de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Scroll vertical */
  height: 10px; /* Scroll horizontal */
}

/* El fondo (track) por donde se desliza la barra */
::-webkit-scrollbar-track {
  background: var(--color-eco-bg);
  /* Un borde sutil para separar la barra del contenido de la página */
  border-left: 1px solid var(--color-eco-card); 
}

/* La barra móvil (thumb) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-eco-border);
  border-radius: 8px;
  /* El borde del mismo color que el track crea la ilusión de que la barra es más delgada y está flotando */
  border: 2px solid var(--color-eco-bg); 
}

/* Efecto hover estilo Gaming / Tecnológico al pasar el ratón por la barra */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-eco-cyan);
  /* También puedes cambiarlo a var(--color-eco-green) si prefieres que el acento sea ecológico */
}